*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Montserrat;
}
section{
    position:relative;
    width:100%;
    height: 100%;
    display: flex;
}
 .imgBx
{
  position:relative;
  width: 60%;
  height: 100%;
}
.i{
  width:100%;
  height: 100vh;
}
.contentBx{
  width: 50%;
  padding-top: 25vh;
  
}
.contentBx h3{
  text-align:center;
}
.logform{
  width: 50%;
  margin-left: 25%;
  margin-right: 20%;
}
.logform h6{
  font-family: sans-serif;
  font-weight: bold;
  color:skyblue;
  font-size: small;
  text-align: end;
}
.logform h6:hover{
  cursor: pointer;
  color: rgb(37, 150, 190);
}
.icon{
  color: skyblue;
  margin: 1% ;
}
.inputdiv>input{
  width: 100%;
  margin-bottom: 15px;
  padding: 3px;
}
.inputdiv>input[type=text ]{
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}
.inputdiv>input[type=password ]{
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}
.inputdiv>input[type=text]:focus{
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}
.inputdiv>input[type= password]:focus{
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}
.inputdiv input[type=text]{
  padding-left: 40px;
  margin-bottom: 2px;
   padding: 11px; 

}
.inputdiv input[type=password]{
  padding-left: 40px;
  margin-bottom: 2px;
   padding: 11px; 

}
.inputdiv{
  position: relative;
  margin-bottom: 11px;

}
.inputdiv .icon{
  position: absolute;
  right: 0;
  top:px;
  padding: 9px , 8px;
  color:skyblue;
  transition:.3s;
}
.inputdiv input[text=text]:focus+i{
  color: dodgerblue;
}
.inputdiv input[text=password]:focus+i{
  color: dodgerblue;
}
.button{
  width:100% ;
  height: 40px;
  background-color:  rgb(37, 150, 190);
  color: white;
  border: none;
}


.button:hover{
  background-color:   rgba(14, 105, 243, 0.689);

}
.user{
  color: rgba(225, 12, 12, 0.708);
}
.ats{
  width: 15%;
  height: 12%;
  margin-left: 42%;
}
p{
    font-size: small;
    
}